.node {
    outline: solid;
    outline-width: 1px;
    background-color: white;
    height: 30px;
    width: 30px;
    outline-color: rgb(104, 103, 103);
}

.node.start {
    background-image: url(/public/startLocationIcon.png);
}

.node.current {
    background-image: url(/public/startIcon.png); 
}

.node.node.current.up {
    transform: rotate(270deg);
}

.node.current.left {
    transform: rotate(180deg);
}

.node.current.down {
    transform: rotate(90deg);
}

.node.current.right {
    transform: rotate(0deg);
}


.node.start:hover {
    transform: scale(1.1);
}

.node.end {
    background-image: url(/public/flagIcon.png);
}

.node.end:hover {
    transform: scale(1.1);
}

.node.visited {
    background-color: rgb(116, 181, 255);
    animation-name: visiting;
    animation-timing-function: ease;
    animation-duration: 3s;
}

.node.wall {
    background-color: rgb(41, 40, 40);
    outline-color: rgb(80, 80, 80);
    animation-name: creatingWall;
    animation-duration: 0.3s;
}

.node.leader {
    background-color: yellow;
    transform: scale(1.2);
}

.node.path {
    background-color: yellow;
    animation-name: path;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


@keyframes path {
    0% {background-color: rgb(255, 255, 0);
        transform: scale(1.2);
    }
    40% {transform: scale(1);}
    100% {background-color: rgb(255, 255, 0);}
}

@keyframes creatingWall {
    0% {transform: scale(0.3)}
    100% {transform: scale(1);}
}

@keyframes visiting {
    0% {
        transform: scale(0.2);
        background-color: yellow;
    }
    10% {transform: scale(0.4);}
    35% {transform: scale(1);}
    40% {background-color: rgb(59, 231, 102);}
    100% {background-color: rgb(116, 181, 255);}
}